.header {
  background-image: url(/img/fon.png);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  align-items: center;
  justify-content: center;
}
.menu {
  height: auto;
  width: auto;
  display: flex;
  padding: 18px 79px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.menufoto {
  width: auto;
  height: 24px;
  flex-shrink: 0;
  gap: 25px;
  display: flex;
  margin-right: 20px;
}

.menu_texth1 {
  color: #fff;
  font-family: Ubuntu;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
}
.menu_texth1:hover {
  color: #01813f;
}

.menu_text2:hover {
  color: #01813f;
}
.menu_text {
  margin-left: 27px;
  color: #fff;
  font-size: 14px;
  line-height: 14px;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.line {
  width: 1px;
  height: 19px;
  opacity: 0.5;
  background: rgba(255, 255, 255, 0.9);
}

.www:hover g path {
  fill: #01813f;
}

.main {
  width: 444px;
  height: 584px;
  margin: auto;
  margin-top: 53px;
  margin-bottom: 74px;
  display: flex;
  background: #fff;
  box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.52);
  position: relative;
}

.text_reg_bloc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.button_bloc {
  display: flex;
  justify-content: space-between;
  margin-bottom: 31px;
}

.konteuner {
  margin: 30px 60px 38px;
  width: 324px;
  height: auto;
  justify-content: space-between;
}

.text_reg {
  color: #434343;
  font-size: 20px;
  line-height: 20px;
}

.text_reg2 {
  color: #3cb878;
  font-size: 14px;
  line-height: 14px;
}

.text_reg2:hover {
  text-decoration: underline;
}

.button {
  width: 160px;
  height: 48px;
  background: #305db8;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #305db8;
  box-shadow: none;
  border-radius: 4px;
}

.button:hover {
  background: #022263;
}

.drawdrop_menu.show {
  z-index: 99;
}

.button2 {
  width: 160px;
  height: 48px;
  background: #df4a32;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #df4a32;
  box-shadow: none;
  border-radius: 4px;
}
.button2:hover {
  background: #ab1f09;
}

.face {
  flex-wrap: wrap;
  width: 24px;
  height: 24px;
  padding-right: 13px;
  border-right: 1px solid rgba(10, 22, 47, 0.1);
}

.textlogo {
  color: #fff;
  font-family: Ubuntu;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  padding-left: 18px;
}

.button2 {
  width: 160px;
  height: 48px;
  background: #df4a32;
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: #df4a32;
}

.shape {
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  position: absolute;
  background: #3cb878;
  margin-top: 29px;
}

.text_or {
  color: #848484;
  font-family: Ubuntu;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  position: relative;
  margin-bottom: 5px;
  width: 322px;
  height: 18px;
  flex-shrink: 0;
}
.text_or::before {
  content: "";
  bottom: 9px;
  left: 0;
  width: 152px;
  height: 1px;
  background: #f2f2f2;
  position: absolute;
}

.text_or::after {
  content: "";
  bottom: 9px;
  right: 0;
  width: 152px;
  height: 1px;
  background: #f2f2f2;
  position: absolute;
}

.regform {
  width: 322px;
  height: 44.083px;
  flex-shrink: 0;
  color: #434343;
  background: #ffffff;
  font-size: 14px;
  border: 1px solid #ffffff;
  line-height: 14px;
  fill: #fff;
  filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.21));
  padding-left: 19px;
  border-radius: 4px;
  outline: none;
  margin-bottom: 15px;
}

.regform:hover {
  border: 1px solid #ffffff;
}

.regform1 {
  width: 322px;
  height: 44.083px;

  background: #ffffff;
  border-radius: 4px;
  border: 1px solid #f2f2f2;
  padding-left: 19px;
  border-radius: 4px;
  outline: none;
  color: #bebebe;
  margin-bottom: 15px;
}
.regform1:focus {
  width: 322px;
  height: 45px;
  flex-shrink: 0;
  color: #434343;
  background: #ffffff;
  font-size: 14px;
  border: 1px solid #ffffff;
  line-height: 14px;
  fill: #fff;
  filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.21));
  padding-left: 19px;
  border-radius: 4px;
  outline: none;
  margin-bottom: 15px;
}

.regform1::placeholder {
  width: 322px;
  height: 45px;
  color: #bebebe;
  font-family: Ubuntu;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
}

.exit[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  outline: none;
  position: relative;
  transition: 0.3s;
}

.exit[type="checkbox"]::before {
  content: "\2713";
  font-size: 14px;
  color: #4caf50;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.exit[type="checkbox"]:checked::before {
  opacity: 1;
}

.exit {
  display: flex;
  margin-right: 8px;
}

.rrr {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.main_button {
  width: 324px;
  height: 46px;
  border-radius: 4px;
  background: #3cb878cc;
  border: 1px solid #01813f;
}

.main_button:hover {
  border-radius: 4px;
  background: #01813f;
}

.text_exit {
  color: #434343;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
}
.text_exit2:hover {
  color: #01813f;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-decoration: underline;
}
