body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  width: 1480px;
  height: 1280px;
  flex-shrink: 0;
  border: 1px solid #000;
}
.head {
  margin-top: 60px;
  margin-left: 90px;
}

.logo {
  display: flex;
  width: 334px;
  height: 80px;
  flex-direction: column;
  justify-content: flex-end;
  flex-shrink: 0;
}
.text {
  text-decoration: none;
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
}
.text1 {
  color: #4bcaff;
}
/* Верхня навігація */
.nav-text {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  text-decoration: none;
  display: inline-block;
}

.nav-text-1 {
  flex-direction: column;
  justify-content: flex-end;
  flex-shrink: 0;
  color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  padding: 15px;
  margin-left: 155px;
  margin-right: -80px;
  border-left: 1px solid rgb(250, 250, 250);
  display: inline-block;
}

.nav-1 {
  margin-top: 65px;
  width: 1280px;
  height: 60px;
  background-color: #35444f;
}

.text-node {
  padding-right: 15px;
  border-right: 1px solid white;
  display: inline-block;
}

/* Табличка 2 */
.main {
  width: 344px;
  height: 400px;
  flex-shrink: 0;
  margin-left: 95px;
  margin-top: 49px;
  border: 1px solid #000;
}
.mail-text {
  margin-bottom: 35px;
  color: #485863;
  font-family: Roboto;
  font-size: 27px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  display: flex;
  width: 106px;
  height: 27px;
  padding-top: 15px;
  white-space: nowrap;
  margin-left: 44px;
}

.mail-taxt-1 {
  text-decoration: none;
  color: #495863;
}
/* Конь і текст  */
.foto {
  border: 1px solid #000;
  background: rgba(0, 0, 0, 0);
  width: 885px;
  height: 529px;
  flex-shrink: 0;
  margin: -405px 130px 450px 500px;
}
.foto1 {
  padding: 75px 280px;
  width: 320px;
  height: 381px;
  flex-shrink: 0;
  margin-bottom: 37px;
}

.full_text {
  color: #2c2c2c;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-align: justify;
  margin-bottom: 13px;
}
.fill {
  color: #2c2c2c;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 40px;
  text-align: justify;
}
.footer {
  background-color: #63696e7a;
  width: 1250px;
  height: 75px;
  flex-shrink: 0;
  margin: 10px 50px 100px -370px;
}

.footer-li {
  display: inline-block;
  color: #0c1927;
  font-family: Roboto;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  padding: 20px 0px;
  /* padding-right: px; */
  padding-left: 35px;
}

.link-down {
  text-decoration: none;
  color: #000;
}
.link-down:hover {
  background: red;
  color: #4bcaff;
  text-decoration: underline;
}

.text99 {
  margin-left: 90px;
  /* padding-left: 0px;
  padding-right: -15px; */
}
.text99:hover {
  background: red;
  color: #4bcaff;
  text-decoration: underline;
}
.mail-taxt-1:hover {
  background: rgb(34, 255, 0);
  color: #ff4be1;
  text-decoration: underline;
}

.nav-text-1:hover {
  color: greenyellow;
}

.foto1:hover {
  transform: scale(1.2);
}
