// ================== FONTS ==================



@mixin gilroy-font($color: #000, $size, $weight, $line-height: normal) {
    color: $color;
    font-size: $size;
    font-style: normal;
    font-weight: $weight;
    line-height: $line-height;
}

@mixin inter-font($color: #000, $size, $weight, $line-height: normal) {
    color: $color;
    font-family: "Inter", sans-serif;
    font-size: $size;
    font-style: normal;
    font-weight: $weight;
    line-height: $line-height;
}

// ================== SIMBOLS ==================

@mixin reg {
    position: relative;
    &::after {
        content: "\00AE";
        font-size: 23px;
        position: absolute;
        top: 0;
    }
}

// ================== keyframes ===================


@keyframes slide-menu-out {
    0% {
        letter-spacing: -0.3em;
        transform: translateZ(-800px);
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        transform: translateZ(0);
        filter: blur(0);
        opacity: 1;
    }
}

@keyframes slide-menu-in {
    0% {
        transform: translateZ(0);
        filter: blur(0);
    }
    100% {
        letter-spacing: -0.3em;
        transform: translateZ(-800px);
        filter: blur(12px);
        visibility: hidden;
        opacity: 0;
    }
}

// ================== Different mixins ====================


// ================== List Number mixins ====================

@mixin list-number ($content: "") {
    &::before {
        content: $content;
        margin-right: 10px;
        @include gilroy-font($black-color, 2.75rem , 300 , 110%);
    }
}


@mixin list-numbers {
    &:nth-child(2) > .about__subtitle {
        @include list-number("01");
    }

    &:nth-child(3) > .about__subtitle {
        @include list-number("02");
    }

    &:nth-child(4) > .about__subtitle {
        @include list-number("03");
    }

    &:nth-child(5) > .about__subtitle {
        @include list-number("04");
    }
}
@mixin font-number {
    @include list-numbers ;

        font-size: 2rem;
    
}


// ================= List Lines mixins ====================
@mixin list-lines {
    &:nth-child(-n + 3) {

        border-bottom: 0.0625rem solid $light-black-color;
    }
    &:nth-child(-n + 2) {
        border-right: 0.0625rem solid $light-black-color;

    }
    &:nth-child(n + 4):nth-child(-n + 5) {
        border-right: 0.0625rem solid $light-black-color;
    }
}
// ================== Discover arrow ====================

@mixin discover-arrow {
    &::after {
        content: "";
        width: 24px;
        height: 21px;
        background-image: url(../img/icons/discover-arrow.png);
        background-repeat: no-repeat;
        background-position: center;
        margin-left: 10px;
        display: inline-block;
        vertical-align: middle;

    }
}