.footer {
    padding-bottom: 1.5625rem;
    & > .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__title {
        @include gilroy-font($dark-gray-color, 1.125rem, 400);
        &-name {
            font-weight: 600;
        }
    }
&__nav {
    &-list {
        display: flex;
        gap: .625rem;
    }
}
}