// ================================== HEADER ================================

.header {
    width: 100%;
    padding-top: 2.5rem;
    margin-bottom: 3.75rem;


    &__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    &__logo {
        display: flex;
        align-items: center;
        gap: .625rem;

        &-text {
            @include gilroy-font($black-color, 2.1875rem, 800);
        }

        &-subtext {
            @include gilroy-font($black-color, 2.1875rem, 400);
            text-transform: uppercase;
            @include reg;
        }
    }

    &__btn {
        @include gilroy-font($light-black-color, 1.5625rem, 400);
    }
}

// ================================== HEADER MENU ================================

.header {
    &__list {
        display: none;
        gap: .9375rem;
        @include gilroy-font($light-black-color, 1.5625rem, 400);
        
    }

    &__nav-menu {
        display: flex;
        align-items: center;
        gap: 1.875rem;
        padding: 20px 0;
    }

    &__link {
        padding: .625rem .9375rem;
        &:hover {
            color: $white-color;
            background-color: lighten($dark-gray-color, 5);
            border-radius: .625rem;
        }
        &:active {
            color: $white-color;
            background-color: lighten($dark-gray-color, 5);
            border-radius: .625rem;
        }
    }
}

