// ================================== START SCREEN SECTION ================================

.start-screen {
    padding-bottom: 86px;
    border-bottom: 0.0625rem solid $light-black-color;
    &__title {
        @include gilroy-font($light-black-color, 9.375rem, 600);
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 1.875rem;
    }
    &__subtitle {
        @include gilroy-font($light-black-color, 9.375rem, 300);
        text-transform: capitalize;
        display: block;
    }
    &__sublink {
        display: flex;
        justify-content: center;
        margin-bottom: 3.1875rem;
    }
    &__img {
        object-fit: cover;
        margin-bottom: 5.375rem;
        width: 100%;
    }
}

.start-screen {
    &__info {
        overflow-x: hidden;
        & > .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 4.375rem;
        }
    }
    &__text {
        @include gilroy-font($light-black-color, 3.875rem, 300);
        &-bold {
            @include gilroy-font($light-black-color, 3.875rem, 800);
        }
    }
    &__nav {
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1.875rem;
        position: relative;
        z-index: 1;
        min-width: 25.9375rem;
        height: auto;
        padding: 3.75rem 0 3.75rem 0;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100%;
            background-color: $light-black-color;
            z-index: -1;
            overflow: hidden;
        }

        &-title {
            @include gilroy-font($white-color, 2rem, 400, 100%);
            text-transform: uppercase;
        }
    }
    &__list {
        display: flex;
        gap: 1.25rem;
    }
}

// ================================== BRANDS SECTION ================================

.brands {
    padding: 4.375rem 0;
    border-bottom: 0.0625rem solid $light-black-color;
    &__list {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2.5rem;
    }
    &__item {
        padding: 0.9375rem 2.5rem;
        background-color: $white-color;
        border-radius: 3.125rem;
    }
}

// ================================== ABOUT (WHAT I DO)  SECTION ================================

.about {
    margin-bottom: 4.375rem;
    display: flex;
    border-bottom: 0.0625rem solid $light-black-color;

    &::before {
        content: "";
        width: 100vw;
        height: auto;
        background-image: url(../img/main-pic/about-sec/about-sec-img.jpg);
        background-repeat: no-repeat;
        display: block;
        background-size: cover;
        background-position: center center;
    }

    & > .container {
        display: flex;
    }

    &__list {
        max-width: 47.875rem;
        margin: 4.375rem 0 4.375rem 6.9375rem;
    }

    &__item {
        &:not(:first-child):not(:last-child) {
            padding-bottom: 2.5rem;
            border-bottom: 0.0625rem solid $light-black-color;
            margin-bottom: 2.5rem;
        }
        @include list-numbers;
    }
    &__title {
        @include gilroy-font($light-black-color, 9.375rem, 300);
        text-transform: uppercase;
        margin-bottom: 6.25rem;
    }
    &__subtitle {
        @include gilroy-font($black-color, 2.75rem, 600, 110%);
        text-transform: uppercase;
        margin-bottom: 0.625rem;
    }
    &__text {
        @include inter-font($black-color, 1.25rem, 400, 140%);
        max-width: 45.5625rem;
    }
}

// ================================== SELECTED WORK  SECTION ================================

.selected-work {
    padding-bottom: 6.25rem;
    border-bottom: 1px solid $light-black-color;
    margin-bottom: 3.125rem;

    &__title {
        @include gilroy-font($light-black-color, 13.25rem, 300);
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0.5rem;
        margin-bottom: 3.125rem;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 2.5rem;
        grid-row-gap: 4.375rem;
        margin-bottom: 4.375rem;
        position: relative;
    }

    &__item {
        &--flex {
            display: flex;
            flex-direction: column;
        }
    }

    &__subtitle {
        @include gilroy-font($black-color, 2.5rem, bold, 110%);
        text-transform: uppercase;
        margin-bottom: 1.875rem;
    }

    &__link {
        @include gilroy-font($light-black-color, 1.125rem, 500);
        border-radius: 3.125rem;
        background-color: $white-color;
        padding: 15px 30px;
        display: inline-block;
        &:first-child {
            margin-right: 1.875rem;
        }
        &--discover {
            display: flex;
            align-self: end;
            margin-top: auto;
            color: $white-color;
            text-transform: capitalize;
            background-color: $light-black-color;
            @include discover-arrow;
        }
    }
    &__btn {
        display: block;
        margin: 0 auto;
        padding: 0.9375rem 3.75rem;
        border-radius: 3.125rem;
        background: $white-color;
        @include gilroy-font($light-black-color, 1.125rem, 400);
        &:active {
            box-shadow: 0 0 0.625rem $light-black-color;
        }
    }
}

// ================================== CLIENTS (MY CLIENTS)  SECTION ================================

.clients {
    padding-bottom: 8.125rem;
    border-bottom: 0.0625rem solid $light-black-color;
    margin-bottom: 3.125rem;
    &__title {
        @include gilroy-font($light-black-color, 13.25rem, 300);
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0.5rem;
        margin-bottom: 3.125rem;
    }
    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    &__item {
        display: flex;
        flex-direction: column;
        padding: 1.875rem;
        gap: 1.875rem;
        @include list-lines;
    }
    &__subtitle {
        @include gilroy-font($gray-color, 2.5rem, 800, 110%);
        max-width: 30.625rem;
    }
    &__text {
        @include inter-font($gray-color, 1.392rem, 400, 150%);
    }
    &__figure {
        display: flex;
        gap: 1.25rem;
        align-items: center;
        margin-bottom: 1.875rem;
        margin-top: auto;
    }
    &__figcaption-title {
        @include inter-font($black-color, 1.25rem, 600, 100%);
        margin-bottom: 0.625rem;
    }
    &__figcaption-text {
        @include inter-font($black-color, 1.25rem, 400, 100%);
    }
}

// ================================== TEAM (Our Team) SECTION ================================

.team {
    padding-bottom: 3.125rem;
    border-bottom: 1px solid $light-black-color;
    margin-bottom: 3.125rem;

    &__title {
        @include gilroy-font($light-black-color, 13.25rem, 300);
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0.5rem;
        margin-bottom: 3.125rem;
    }
    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 2.5rem;
        grid-row-gap: 1.875rem;
        &:has(.team__item:not(:last-child):hover) .team__item:not(:hover) {
            scale: 0.8;
            opacity: 0.7;
        }
    }
    &__item {
        display: flex;
        flex-direction: column;
        padding: 30px 0;
        transition:
            scale 350ms ease,
            opacity 350ms ease,
            line;

        &--slogan {
            display: flex;
            flex-direction: column;
            align-self: center;
            grid-column-end: span 2;
        }
    }
    &__subtitle {
        @include gilroy-font($dark-gray-color, 1.875rem, 800);
        margin-bottom: 0.3125rem;

        &--slogan {
            @include gilroy-font($dark-gray-color, 1.875rem, 400);
            text-transform: uppercase;
            margin-bottom: 0.9375rem;
        }
    }
    &__text {
        @include gilroy-font($dark-gray-color, 1.25rem, 400);
        margin-bottom: 0.9375rem;

        &--slogan {
            @include gilroy-font($dark-gray-color, 4rem, bold);
            text-transform: uppercase;
            margin-bottom: 0.9375rem;
        }
    }
    &__img {
        margin-bottom: 0.9375rem;
    }
    &__nav-list {
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 0.625rem;
    }

    &__slogan-link {
        display: flex;
        align-items: center;
        padding: 0.9375rem 1.875rem;
        border-radius: 3.125rem;
        align-self: flex-start;
        background: #252525;
        @include gilroy-font($white-color, 1.125rem, 400);
        text-transform: capitalize;
        @include discover-arrow;
    }
}

// ================================== CONTACT SECTION ================================

.contact {
    padding-bottom: 6.25rem;
    border-bottom: 0.0625rem solid $light-black-color;
    margin-bottom: 1.5625rem;

    & > .container {
        display: flex;
        justify-content: space-between;
    }

    &__title {
        @include gilroy-font($dark-gray-color, 9.6875rem, 300);
        text-transform: uppercase;
    }
    &__article {
        display: flex;
        flex-direction: column;
        max-width: 54.375rem;
        gap: 1.875rem;
        &-title {
            @include gilroy-font($light-black-color, 4rem, bold);
            text-transform: uppercase;
        }
        &-text {
            @include gilroy-font($light-black-color, 2.125rem, 400);
        }
        &-btn {
            display: flex;
            align-items: center;
            padding: 0.9375rem 1.875rem;
            @include discover-arrow;
            @include gilroy-font($white-color, 1.125rem, 400);
            text-transform: capitalize;
            border-radius: 3.125rem;
            background-color: $light-black-color;
            align-self: flex-start;
        }
    }
}
