@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}
@media screen and (min-width: 290px) and (max-width: 1450px) {
    .start-screen__text {
        text-align: center;
    }
    .start-screen__info {
        & > .container {
            flex-direction: column;
            gap: 1.875rem;
        }
    }
    .start-screen__nav {
        align-self: flex-end;
        padding: 40px 0;
        &::before {
            left: -100vw;
            width: 400vw;
        }
        &-title {
            font-size: 1.75rem;
        }
    }
    .start-screen__img {
        margin-bottom: 1.875rem;
    }
}
@media screen and (min-width: 290px) and (max-width: 1350px) {
    .header {
        position: relative;
        &__list {
            position: absolute;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            top: 0;
            right: 0;
            gap: 1.875rem;
            background-color: $menu-bg-color;
            width: 100%;
            height: 100svh;
            z-index: 5;
            font-size: 3.125rem;
            text-transform: uppercase;
            letter-spacing: 0.3125rem;
            text-shadow: 0 0 0.625rem $light-black-color;
        }
    }

    .about {
        flex-direction: column;
        &::before {
            width: 100%;
            height: 100vw;
        }
        &__list {
            max-width: 100%;
            margin: 0;
            width: 100%;
            padding-bottom: 40px;
        }
        &__title {
            text-align: center;
            margin-bottom: 2.5rem;
        }
    }
}

@media screen and (min-width: 390px) and (max-width: 500px) {
    .header {
        &__list {
            font-size: 2.125rem;
            font-weight: 500;
        }
    }
}

@media screen and (min-width: 290px) and (max-width: 389px) {
    .header {
        &__list {
            font-size: 1.5rem;
            font-weight: 500;
        }
    }
}

@media screen and (min-width: 290px) and (max-width: 768px) {
    .header {
        &__logo-text {
            display: none;
        }
    }
}

@media screen and (min-width: 290px) and (max-width: 1800px) {
    .brands__list {
        flex-wrap: wrap;
        gap: 1.25rem;
    }
}

@media screen and (min-width: 1351px) and (max-width: 1800px) {
    .about {
        &__title {
            font-size: 6.25rem;
        }
    }
    .contact {
        & > .container {
            gap: 2.5rem;
        }
        &__title {
            font-size: 7.5rem;
        }
        &__article-title {
            font-size: 3.125rem;
        }
    }
}

@media screen and (min-width: 1201px) and (max-width: 1400px) {
    .start-screen {
        &__title {
            font-size: 7.5rem;
        }
        &__subtitle {
            font-size: 7.5rem;
        }
    }
    .selected-work__title {
        font-size: 9.375rem;
    }
    .clients {
        &__title {
            font-size: 12.5rem;
        }
    }

.clients__subtitle {
    font-size: 2rem;
}
    .contact {
        & > .container {
            gap: 2.5rem;
        }
        &__title {
            font-size: 7.5rem;
        }
        &__article-title {
            font-size: 3.125rem;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    // .container {
    //     width: 100%;
    //     max-width: 961px;
    //     margin: 0 auto;
    //     padding: 0 15px;
    // }

    .start-screen {
        border: none;
        padding-bottom: 0;
        margin-bottom: 2.5rem;
        &__title {
            font-size: 5.625rem;
        }
        &__subtitle {
            font-size: 5.625rem;
        }
        &__text {
            font-size: 3.25rem;
            &-bold {
                font-size: 3.25rem;
            }
        }
    }
    .brands {
        padding: 0rem;
        margin-bottom: 2.5rem;
        border: none;
    }

    .about {
        &::before {
            margin-bottom: 30px;
        }
        &__title {
            font-size: 120px;
        }
    }

    .selected-work {
        padding-bottom: 1.875rem;
        margin-bottom: 1.875rem;
        &__title {
            font-size: 9.375rem;
            letter-spacing: 0.375rem;
            margin-bottom: 1.875rem;
        }

        &__list {
            grid-template-columns: 1fr;
            grid-row-gap: 1.875rem;
            grid-column-gap: 0px;
            overflow: hidden;
        }
        &__item:first-child {
            grid-row: 3 / span 1;
        }
        &__item-wrap {
            margin-bottom: 30px;
        }

        &__img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    .clients {
        padding-bottom: 0;
        margin-bottom: 1.875rem;
        &__title {
            font-size: 7.5rem;
            letter-spacing: 0.375rem;
            margin-bottom: 4.375rem;
        }
        &__list {
            grid-template-columns: 1fr;
        }
        &__item {
            padding: 40px 0;
            &:nth-child(-n + 2),
            &:nth-child(n + 4):nth-child(-n + 5) {
                border-right: none;
                border-bottom: 1px solid $light-black-color;
            }
            &:first-child {
                padding-top: 0;
            }
        }
        &__subtitle {
            max-width: 100%;
        }
        &__figure {
            margin: 0;
        }
    }

    .team {
        padding-bottom: 0;
        margin-bottom: 1.875rem;
        &__title {
            font-size: 8.125rem;
            letter-spacing: 0.25rem;
            margin-bottom: 1.875rem;
        }
        &__list {
            grid-template-columns: repeat(2, 1fr);
        }
        &__img {
            width: 100%;
        }
        &__text--slogan {
            font-size: 60px;
        }
        &__item--slogan {
            padding-bottom: 3.125rem;
        }
    }

    .contact {
        padding-bottom: 0;
        margin-bottom: 1.25rem;
        & > .container {
            gap: 2.5rem;
            flex-direction: column;
            align-items: center;
        }
        &__title {
            font-size: 120px;
        }
        &__article {
            text-align: center;
            &-btn {
                align-self: center;
                margin-bottom: 3.125rem;
            }
        }
        &__article-title {
            font-size: 50px;
        }
    }
}

@media screen and (min-width: 460px) and (max-width: 767px) {
    .start-screen {
        border: none;
        padding-bottom: 0;
        margin-bottom: 1.875rem;
        &__title {
            font-size: 2.625rem;
        }
        &__subtitle {
            font-size: 2.625rem;
        }
        &__text {
            font-size: 1.875rem;
            &-bold {
                font-size: 1.875rem;
            }
        }
    }

    .brands {
        padding: 0rem;
        margin-bottom: 2.5rem;
        border: none;
    }

    .about {
        &::before {
            margin-bottom: 30px;
        }
        &__title {
            font-size: 4.375rem;
        }
        &__subtitle {
            font-size: 2rem;
        }
        &__item {
            &:nth-child(2) > .about__subtitle,
            &:nth-child(3) > .about__subtitle,
            &:nth-child(4) > .about__subtitle,
            &:nth-child(5) > .about__subtitle {
                &::before {
                    font-size: 2rem;
                }
            }
        }
    }

    .selected-work {
        padding-bottom: 1.875rem;
        margin-bottom: 1.875rem;
        &__title {
            font-size: 5.375rem;
            letter-spacing: 0.25rem;
            margin-bottom: 1.875rem;
        }
        &__item:first-child {
            grid-row: 3 / span 1;
        }
        &__list {
            grid-template-columns: 1fr;
            grid-row-gap: 1.25rem;
            grid-column-gap: 0px;
            overflow: hidden;
        }
        &__item-wrap {
            margin-bottom: 30px;
        }

        &__img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
        &__btn {
            width: 100%;
        }
    }

    .clients {
        &__title {
            font-size: 73px;
            letter-spacing: 0.1875rem;
            margin-bottom: 4.375rem;
        }
    }

    .team {
        padding-bottom: 0;
        margin-bottom: 1.875rem;
        &__title {
            font-size: 5rem;
            letter-spacing: 0.1875rem;
            margin-bottom: 1.875rem;
        }
        &__list {
            grid-template-columns: 1fr;
        }
        &__img {
            width: 100%;
        }
        &__item {
            justify-content: center;
            align-items: center;
        }
        &__link {
            text-align: center;
        }
        &__item--slogan {
            grid-column-end: span 1;
            padding-bottom: 3.125rem;
        }

        &__text--slogan {
            text-align: center;
            font-size: 40px;
        }

        &__slogan-link {
            width: 100%;
            justify-content: center;
        }
    }

    .contact {
        padding-bottom: 0;
        margin-bottom: 1.25rem;
        & > .container {
            gap: 1.875rem;
            flex-direction: column;
            align-items: center;
        }
        &__title {
            font-size: 80px;
        }
        &__article {
            text-align: center;
            &-btn {
                align-self: center;
                margin-bottom: 3.125rem;
            }
            &-text {
                font-size: 40px;
            }
        }
        &__article-title {
            font-size: 44px;
        }
    }

    .footer {
        padding: 0;
        margin-bottom: 1.25rem;
        & > .container {
            flex-direction: column;
            gap: 1.25rem;
            align-items: center;
        }
    }
}

@media screen and (min-width: 290px) and (max-width: 459px) {
    .start-screen {
        border: none;
        padding-bottom: 0;
        margin-bottom: 1.875rem;
        &__title {
            font-size: 2rem;
        }
        &__subtitle {
            font-size: 2rem;
        }
        &__text {
            font-size: 1.3125rem;
            &-bold {
                font-size: 1.3125rem;
            }
        }
    }

    .brands {
        padding: 0rem;
        margin-bottom: 2.5rem;
        border: none;
    }

    .about {
        &::before {
            margin-bottom: 1.25rem;
        }
        &__title {
            font-size: 3.125rem;
        }
        &__subtitle {
            font-size: 1.3125rem;
        }
        &__item {
            &:nth-child(2) > .about__subtitle,
            &:nth-child(3) > .about__subtitle,
            &:nth-child(4) > .about__subtitle,
            &:nth-child(5) > .about__subtitle {
                &::before {
                    font-size: 1.3125rem;
                }
            }
            &:not(:first-child):not(:last-child) {
                padding-bottom: 1.875rem;
                margin-bottom: 1.875rem;
            }
        }
    }

    .selected-work {
        padding-bottom: 1.875rem;
        margin-bottom: 1.875rem;
        &__title {
            font-size: 3.25rem;
            letter-spacing: 0.0625rem;
            margin-bottom: 1.875rem;
        }
        &__item:first-child {
            grid-row: 3 / span 1;
        }
        &__list {
            grid-template-columns: 1fr;
            grid-row-gap: 1.25rem;
            grid-column-gap: 0px;
            overflow: hidden;
            margin-bottom: 2.5rem;
        }
        &__item-wrap {
            margin-bottom: 30px;
        }
        &__subtitle {
            font-size: 2.1875rem;
            margin-bottom: 1.25rem;
        }
        &__img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
        &__link {
            padding: 15px 25px;
            &:first-child {
                margin: 0;
            }
        }
        &__btn {
            width: 100%;
        }
    }

    .clients {
        &__title {
            font-size: 44px;
            letter-spacing: 0.0625rem;
            margin-bottom: 4.375rem;
        }

        &__subtitle {
            text-align: center;
        }
        &__text {
            text-align: center;
        }
    }

    .team {
        padding-bottom: 0;
        margin-bottom: 1.875rem;
        &__title {
            font-size: 2.9375rem;
            letter-spacing: 0.125rem;
            margin-bottom: 1.875rem;
        }
        &__list {
            grid-template-columns: 1fr;
        }
        &__img {
            width: 100%;
        }
        &__item {
            justify-content: center;
            align-items: center;
        }
        &__link {
            text-align: center;
        }
        &__item--slogan {
            grid-column-end: span 1;
            padding-bottom: 3.125rem;
        }

        &__text--slogan {
            text-align: center;
            font-size: 1.375rem;
        }

        &__slogan-link {
            width: 100%;
            justify-content: center;
        }
    }

    .contact {
        padding-bottom: 0;
        margin-bottom: 1.25rem;
        & > .container {
            gap: 1.875rem;
            flex-direction: column;
            align-items: center;
        }
        &__title {
            font-size: 50px;
        }
        &__article {
            text-align: center;
            &-btn {
                align-self: center;
                margin-bottom: 3.125rem;
            }
            &-text {
                font-size: 18px;
            }
        }
        &__article-title {
            font-size: 26px;
        }
    }

    .footer {
        padding: 0;
        margin-bottom: 1.25rem;
        & > .container {
            flex-direction: column;
            gap: 1.25rem;
            align-items: center;
        }
        &__title {
            font-size: 12px;
        }
    }
}

@media screen and (min-width: 290px) and (max-width: 767px) {
    // .container {
    //     width: 100%;
    //     max-width: 468px;
    //     margin: 0 auto;
    //     padding: 0 15px;
    // }
    .clients {
        padding-bottom: 0;
        margin-bottom: 1.875rem;
        &__title {
            font-size: 44px;
            letter-spacing: 0.0625rem;
            margin-bottom: 4.375rem;
        }
        &__list {
            grid-template-columns: 1fr;
        }
        &__item {
            padding: 40px 0;
            &:nth-child(-n + 2),
            &:nth-child(n + 4):nth-child(-n + 5) {
                border-right: none;
                border-bottom: 1px solid $light-black-color;
            }
            &:first-child {
                padding-top: 0;
            }
        }
        &__subtitle {
            max-width: 100%;
        }
        &__figure {
            margin: 0;
        }
    }
}
