.container {
  width: 856px;
  margin: 0 auto;
}


.URL{
  text-decoration: none;"
}
.Menu{
  list-style-type: none;
 
  /* width: 1400px; */
  
  margin: 32px auto;
  text-align: center;
 
}

.Menu-1{
  display: inline-block;
  
  /* width: 77px;
  height: 24px; */
  
  font-size: 18px;
  padding-right: 72px;
  text-align: center;
  
}
.Foto-main{
  margin: 92px 400px;
  }

  .Fon{          
   background-color: #00bdc9;
   margin-bottom: 88px;
   text-align: center;
   }

   .Text-main{
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    
    margin-bottom: 40px;
    padding-top: 88px;
   }
.text-content{
  text-align: center;
}
.button-wrapper{ 
  text-align: center;

}
   .Text-main-1{
        color: #161616;
    font-family: Inter;
    font-size: 21px;
    font-weight: 500;
    
   }

   .Text-main-2{
    color: #04959E;
   }
   .title{
    padding-left: 20px;
    color: #161616;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
  
   }

   .button{
       padding: 10px 24px;
    margin-bottom: 88px;
    margin-top: 40px;
    justify-content: center;
align-items: center;
background: #04959E;
color: #FFF;
text-align: center;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 135%;
   }
.footer{
   width: 856px;
  margin: 0 auto;
}
.text-footer{
  text-align: center;
  color: #161616;

font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 150%;

}