/* НАЧАЛО ХЕАДЕР */
.wraper {
  width: 1296px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.head {
  background: #10bbd5;
  height: 72px;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
}
.price {
  display: flex;
  align-items: center;
}
.price > p {
  color: #f8fdfe;
}

.cart {
  background: #10bbd5;
  border: none;
  position: relative;
}

.cart_wheel_1 {
  position: absolute;
  left: 13px;
  top: 25px;
}

.cart_wheel_2 {
  position: absolute;
  top: 25px;
  right: 8px;
}
.cartcount {
  position: absolute;
  top: 50%;
  left: 54%;
  transform: translate(-50%, -50%);
  right: 5px;
}

.section1 {
  width: 1296px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  height: auto;
}
.section1_unl {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  gap: 40px;
  background: #fff;
}

.section1_text {
  color: #000;
  font-family: Cabin;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
}
/* КІНЕЦЬ ХЕАДЕР  */
/* ФУТЕР НАЧАЛО */
.footer {
  height: 88px;
  background: #4c394e;
  width: auto;
}

.footer_tex {
  display: flex;
  width: 1296px;
  height: 88px;
  margin: auto;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

.footer_tex_1 {
  color: var(--white, #f8fdfe);
  font-family: Cabin;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
/* ФУТЕР КІНЕЦЬ */
/* НАЧАЛО МАИН */
.main {
  margin-top: 25px;
  background: #eeeeef;
  height: auto;
  padding-bottom: 120px;
}
.texth1 {
  color: #1f1f1f;
  font-family: Cabin;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  padding-top: 32px;
  background: #eeeeef;
  align-items: center;
  width: 1296px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  height: auto;
  padding-bottom: 23px;
  padding-left: 0;
  border-bottom: 1px solid #8e8e8e;
}

.product {
  width: 1296px;
  height: auto;
  display: grid;
  grid-template-rows: repeat(3, 512px);
  grid-template-columns: repeat(4, 306px);
  margin-right: auto;
  margin: auto;
  margin-top: 24px;
  gap: 25px;
}

.product_card_content {
  border: 1px solid #8e8e8e;
  background: #fff;
  display: flex;
  align-items: center;
}
.product1 {
  height: 431px;
  margin: 32px;
}
.img1 {
  display: flex;
  width: 178px;
  height: 280px;
  margin: 0px 32px 16px 32px;
}

.text_product {
  overflow: hidden;
  color: #1f1f1f;
  text-overflow: ellipsis;
  font-family: Cabin;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  border-bottom: 1px solid #a8a8a8;
  width: 242px;
  white-space: nowrap;
}
.none {
  text-decoration: none;
  position: relative;
}
.badge {
  display: flex;
  padding: 4px 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: #4200ff;
  width: 36px;
  height: 32px;
  position: absolute;
  z-index: 2;
}

.badge2 {
  display: flex;
  padding: 4px 8px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: #af39e7;
  width: 40px;
  height: 32px;
  position: absolute;
  z-index: 2;
}

.qqq {
  /* white-space: nowrap; */
  display: flex;
  position: absolute;
  z-index: 2;
}

.text_badge {
  color: #f8fdfe;
  text-align: center;
  font-family: Cabin;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.product2 {
  width: 106px;
  height: auto;
  display: flex;
  position: absolute;
}
.save {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  gap: 40px;
  position: absolute;
}

.badge3 {
  display: flex;
  padding: 4px 8px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: #ea33c0;
  width: 70px;
  height: 32px;
  position: absolute;
  z-index: 2;
  margin-left: 45px;
}
.badge4 {
  display: flex;
  padding: 4px 8px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: #ea33c0;
  width: 74px;
  height: 32px;
  position: absolute;
  z-index: 2;
}
.badge5 {
  display: flex;
  padding: 4px 8px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: #ea33c0;
  width: 74px;
  height: 32px;
  position: absolute;
  z-index: 2;
  margin-left: 45px;
}

.text_product2 {
  overflow: hidden;
  color: #8e8e8e;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: Cabin;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  padding-bottom: 8px;
}
.text_product3 {
  display: flex;
  color: #e90000;
  font-family: Cabin;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  padding-bottom: 16px;
  gap: 24px;
}
.text_product3_3 {
  color: #8e8e8e;
  font-family: Cabin;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  text-decoration-line: strikethrough;
  text-decoration: line-through;
}

.button {
  border-radius: 4px;
  background: #4c394e;
  display: flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  width: 100%;
  border: 1px solid #4c394e;
}
.text_product4 {
  color: #f8fdfe;
  text-align: center;
  font-family: Cabin;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.button2 {
  display: flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  border-radius: 4px;
  background: #4d762d;
  width: 100%;
  border: 1px solid #4d762d;
}
.button:hover {
  display: inline-flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: #744978;
}

.button2:hover {
  display: inline-flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: #6db236;
}

.background-image {
  transition: 0.5s;
  background-image: url(/images/chat_icon.png);
  background-color: #10bbd5;
  background-position: center;
  width: 64px;
  height: 64px;
  flex-shrink: 0;
  position: fixed;
  bottom: 200px;
  right: 200px;
  border-radius: 50%;
  border: 1px solid #10bbd5;
}

.background-image:hover {
  transform: rotate(20deg);
}
