.footer {
  background-color: #4c394e;
  width: 100%;

  &__menu {
    display: flex;
    width: 1296px;
    height: 88px;
    margin: auto;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
  }

  &__menu-text {
    color: #f8fdfe;
    font-family: Cabin;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
}
