.header {
  background-color: #10bbd5;
  position: sticky;
  top: 0;
  z-index: 100;

  .top-conteuner {
    width: 1296px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;

    &__preis {
      display: flex;
      align-items: center;
      gap: 8px;
    }

    &__preis-text {
      display: flex;
      align-items: center;
    }
  }
}

.cart-button {
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 4px;
  display: flex;
  background-color: #10bbd5;
  border: 1px solid #10bbd5;

  &__wheel-1 {
    position: absolute;
    top: 24px;
    left: 15px;
  }

  &__wheel-2 {
    position: absolute;
    top: 24px;
    left: 32px;
  }
  &__text {
    position: absolute;
    top: 8px;
    left: 23px;
  }
}

.bottom-conteuner {
  background-color: #fff;
  width: auto;
  display: flex;

  .nav {
    width: 1296px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 24px;

    &__menu {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 40px;
    }
    &__menu-list {
      font-weight: 400;
      line-height: 24px;
    }
  }
}
