.chat {
  transition: 0.5s;
  background-image: url(/images/chat_icon.png);
  background-color: #10bbd5;
  background-position: center;
  width: 64px;
  height: 64px;
  flex-shrink: 0;
  position: fixed;
  bottom: 200px;
  right: 250px;
  border-radius: 50%;
  border: 1px solid #10bbd5;
  z-index: 100;
  &:hover {
    transform: rotate(20deg);
  }
}

.section {
  background-color: #eeeeef;
  padding-top: 36px;
  padding-bottom: 120px;

  &__conteuner {
    width: 1296px;
    height: auto;
    margin: auto;
    background-color: #eeeeef;
  }

  &__title {
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
    border-bottom: 1px solid #a8a8a8;
    padding-bottom: 23px;
  }

  &__products {
    display: grid;
    grid-template-rows: 512px 512px 512px;
    grid-template-columns: repeat(4, 306px);
    gap: 32px 24px;

    .products-menu {
      margin-top: 24px;
      list-style-type: none;
      background-color: #f8fdfe;
      padding: 32px;
      position: relative;
      margin-bottom: -30px;

      &__hit::before {
        width: 20px;
        height: 24px;
        content: "Hit";
        color: #fff;
        background-color: #4200ff;
        border-radius: 5px;
        padding: 4px 8px;
        text-align: center;
        line-height: 23px;
        position: absolute;
      }

      &__new::before {
        width: 31px;
        height: 24px;
        content: "New";
        color: white;
        background-color: #af39e7;
        border-radius: 5px;
        padding: 4px 8px;
        text-align: center;
        line-height: 23px;
        position: absolute;
      }

      &__book-img {
        padding-left: 32px;
      }

      &__book-name {
        font-size: 20px;
        font-weight: 700;
        line-height: 28px;
        letter-spacing: 0em;
        margin-top: 16px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      &__book-poet {
        border-top: 1px solid #8e8e8e;
        color: #8e8e8e;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        margin-bottom: 8px;
      }
      &__book-preis {
        font-size: 24px;
        font-weight: 500;
        line-height: 32px;
        letter-spacing: 0em;
        text-align: left;
        color: #e90000;
        margin-bottom: 16px;
      }
      &__book-button--primery {
        width: 242px;
        height: 40px;
        background-color: #4c394e;
        color: #eeeeef;
        border: 1px solid #4c394e;
      }
      &__book-button--secondary {
        width: 242px;
        height: 40px;
        background-color: #4d762d;
        color: #eeeeef;
        border: 1px solid #4d762d;
      }
      .section__imeges__preis {
        display: flex;
      }
      &__book-preis--delete {
        font: 500 24px/32px sans-serif;
        color: #8e8e8e;
        margin-left: 24px;
        text-decoration: line-through;
      }
      &__10::before {
        width: 54px;
        height: 24px;
        content: "10% off";
        color: white;
        background-color: #ea33c0;
        border-radius: 5px;
        padding: 4px 8px;
        text-align: center;
        line-height: 23px;
        position: absolute;
        left: 70px;
      }
      &__clear {
        font: 500 24px/32px sans-serif;
        color: #8e8e8e;
        margin-left: 24px;
        text-decoration: line-through;
      }
      &__16::before {
        width: 54px;
        height: 24px;
        content: "16% off";
        color: white;
        background-color: #ea33c0;
        border-radius: 5px;
        padding: 4px 8px;
        text-align: center;
        line-height: 23px;
        position: absolute;
        left: 70px;
      }

      &__11::before {
        width: 54px;
        height: 24px;
        content: "11% off";
        color: white;
        background-color: #ea33c0;
        border-radius: 5px;
        padding: 4px 8px;
        text-align: center;
        line-height: 23px;
        position: absolute;
        left: 82px;
      }
      &__7::before {
        width: 54px;
        height: 24px;
        content: "7% off";
        color: white;
        background-color: #ea33c0;
        border-radius: 5px;
        padding: 4px 8px;
        text-align: center;
        line-height: 23px;
        position: absolute;
        left: 70px;
      }
      &__20::before {
        content: "20% off";
        color: white;
        background-color: #ea33c0;
        border-radius: 5px;
        padding: 4px 8px;
        text-align: center;
        line-height: 23px;
        position: absolute;
      }
      &__30::before {
        content: "30% off";
        color: white;
        background-color: #ea33c0;
        border-radius: 5px;
        padding: 4px 8px;
        text-align: center;
        line-height: 23px;
        position: absolute;
        left: 80px;
      }
      &__book-button--primery:hover {
        background-color: #744978;
        color: #eeeeef;
        border: 1px solid #744978;
      }
      &__book-button--secondary:hover {
        background-color: #6db236;
        border: 1px solid #6db236;
      }
    }
  }
}

// &__button:hover {
//   background-color: #744978;
//   color: #eeeeef;
//   border: 1px solid #744978;
// }

// &__button__green {
//   width: 242px;
//   height: 40px;
//   background-color: #4d762d;
//   color: #eeeeef;
//   border: 1px solid #4d762d;
// }
// &__button__green:hover {
//   background-color: #6db236;
//   border: 1px solid #6db236;
// }
