.header {
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: flex;
  align-items: center;
}

.conteuner {
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.category-select {
  margin: 24px 80px 4px 105px;
  display: flex;
}

.second-li-mein {
  margin-left: auto;
  margin-right: auto;
  padding-left: 417px;

  display: flex;
}
.second-li-mein li {
  text-align: left;
}
#Date-added {
  padding-left: 30px;
}

.texth1 {
  text-align: center;
  text-align: center;
}

#category {
  margin-right: 50px;
  border: none;
}
#price {
  margin-right: 50px;
  border: none;
}
#brand {
  margin-right: 50px;
  border: none;
}
#product-type {
  margin-right: 50px;
  border: none;
}
#Date-added {
  margin-right: 50px;
  border: none;
}

.nav {
  display: flex;
  justify-content: left;
  align-items: center;
}

.menu {
  gap: 44px;
  display: flex;
  align-items: flex-start;
  justify-content: right;
  padding-right: 280px;
}

.menu a {
  color: #726e8d;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  text-decoration: none;
}

.text {
  text-decoration: none;
  color: #22202e;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 25px 150px 25px 80px;
}
.menu2 {
  text-decoration: none;
  padding-right: 16px;
  text-align: right;
}

.grid {
  grid-template-columns: repeat(4, 306px);
  display: grid;
  gap: 20px;
  padding: 28px 80px 20px 80px;
}
.grid img {
  object-fit: cover;
}

.conteuner2 {
  margin-top: 80px;
  width: 1440px;
  height: 0 auto;
  display: flex;
  justify-content: center;
}
.texth22 {
  width: 309px;
  height: 50px;
}

.texth1 {
  display: flex;
  color: var(--Dark-Primary, #2a254b);
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  margin-left: auto;
  margin-right: auto;
}

.bittont {
  width: 175px;
  height: 60px;
  color: #2a254b;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  border: none;
  padding: 10px 32px;
  height: 24px;
  justify-content: center;
  text-align: center;
}

.futer1 {
  width: 1440px;
  height: 0px auto;
  display: grid;
  grid-template-columns: repeat(2, 720px);
  grid-template-rows: 520px;
}

.it55 {
  background-image: url(/img/Image.jpg);
  justify-content: flex-end;
  display: flex;
}

.text99 {
  color: var(--Dark-Primary, #2a254b);
  text-align: center;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  height: 39px;
  width: 540px;
  white-space: nowrap;
  padding: 71px 130px 0px 50px;
  text-align: right;
}

.text88 {
  color: var(--Dark-Primary, #2a254b);
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-top: 21px;
  margin-left: 50px;
}
.text889 {
  color: var(--White, #fff);
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  white-space: nowrap;
  cursor: pointer;
}

.it321 {
  display: flex;
  text-align: center;
  height: 56px;
  width: 120px;
  display: flex;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;
  margin-top: 216px;
  margin-bottom: 70px;
  margin-left: 72px;
  background: var(--Dark-Primary, #2a254b);
}

#category {
  color: #726e8d;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  text-decoration: none;
}

#product-type {
  color: #726e8d;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  text-decoration: none;
}

#price {
  color: #726e8d;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  text-decoration: none;
}
#brand {
  color: #726e8d;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  text-decoration: none;
}
.text125 {
  color: var(--Dark-Primary, #2a254b);
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
}

#Date-added {
  color: #726e8d;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  text-decoration: none;
}
.text321 {
  padding-top: 24px;
  color: var(--Dark-Primary, #2a254b);
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
.text445 {
  color: var(--Dark-Primary, #2a254b);
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.ul-menu {
  display: inline-flex;
  flex-direction: column;
  gap: 12px;
  text-align: left;
  color: var(--White, #fff);
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin: 58px 0 147px 82px;
  white-space: nowrap;
}
.main-word {
  padding-top: 12px;
}

.Categories {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  margin: 58px 0 116px 100px;
  color: var(--White, #fff);
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  white-space: nowrap;
  line-height: normal;
}

.Our-company {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  color: var(--White, #fff);
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 58px 38px 0 0px;
  white-space: nowrap;
}

.line {
  display: flex;
  flex-direction: column;
}

.button {
  color: #2a254b;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  background: var(--Light-Grey, #f9f9f9);
  border: none;
  margin-top: 48px;
  text-decoration: none;
  margin-bottom: 40px;
  padding: 16px 32px;
  width: 174px;
  height: 56px;
  margin: 48px 0 40px 0;
  margin-left: auto;
  margin-right: auto;
}

.footer {
  width: 1440px;
  margin: auto;
  background-color: #2a254b;
}

.ul-footer {
  display: flex;
  justify-content: flex-start;
  color: #ffffff;
  text-align: left;

  padding-top: 58px;
  padding-left: 82px;
}

.main-word {
  color: var(--White, #fff);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 12px;
}

.under-irems {
  color: var(--White, #fff);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  gap: 12px;
}

.Categories {
  padding-right: 131px;
}

.footer-background {
  width: 642px;
  height: 195px;
  background-image: url("/img/mag.jpg");
  background-size: cover;
  background-position: center right;
  align-items: center;
  margin-left: 25px;
  margin-right: 80px;
  margin-top: 70px;
}

.line {
  width: 1277px;
  height: 1px;
  background: #4e4d93;
  border-radius: 1px;
}

.law-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
}

.law {
  color: var(--White, #fff);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
}

.foto-ul {
  align-items: right;
  gap: 24px;
  padding-left: 870px;
  justify-content: center;
  text-align: center;

  text-align: center;
  display: flex;
  align-items: center;
}
